@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Henderson BCG Sans', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(90deg, #11998e, #38ef7d);
}
